<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Manager -->
      <package
            uri="http://www.jku.at/isse/mde/betting/Manager.ecore"
            class="at.jku.isse.mde.betting.manager.ManagerPackage"
            genModel="model/Manager.genmodel"/>
   </extension>

</plugin>
